# dependencies
plugin/node_modules

# IDE
plugin/.idea
plugin/.vscode

# testing
plugin/coverage
plugin/cypress/videos

# production
plugin/dist

# misc
plugin/.DS_Store
plugin/.env.local
plugin/.env.development.local
plugin/.env.test.local
plugin/.env.production.local

plugin/npm-debug.log*
plugin/yarn-debug.log*
plugin/yarn-error.log*


