apiVersion: kiali.io/v1alpha1
kind: OSSMPlugin
metadata:
  name: ossmplugin
  annotations:
    ansible.sdk.operatorframework.io/verbosity: "1"
spec:
  version: default
  deployment:
    imageName: ${DEPLOYMENT_IMAGE_NAME}
    imageVersion: ${DEPLOYMENT_IMAGE_VERSION}
    imagePullPolicy: Always
    imagePullSecrets:
    - ${PULL_SECRET_NAME}
  kiali:
    url: ""
