name: CI Pipeline

on:
  # Run on main and release branches
  push:
    branches:
      - main
      - v*.*
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
      - '**/*.adoc'
  pull_request:
    branches:
      - main
      - v*.*
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
      - '**/*.adoc'

jobs:
  initialize:
    name: Initialize
    runs-on: ubuntu-latest
    outputs:
      target_branch: ${{ env.target_branch }}
      build_branch: ${{ env.build_branch }}
    steps:
    - name: Determine target branch
      id: target_branch
      run: |
        echo "target_branch=${{ github.base_ref || github.ref_name }}" >> $GITHUB_ENV

    # For the building branch, if we are running agains a PR, we need to indicate in the branch that is coming from a PR
    - name: Determine build branch
      id: build_branch
      run: |
        if [ -z "${{ github.base_ref }}" ];
        then
          BUILD_BRANCH="${{ github.ref_name }}"
        else
          BUILD_BRANCH="${{ github.base_ref }}"
        fi

        echo "build_branch=$BUILD_BRANCH" >> $GITHUB_ENV

    - name: Log information
      run: |
        echo "Target branch: ${{ env.target_branch }}"

        echo "Build branch: ${{ env.build_branch }}"

  build_plugin:
    name: Build plugin
    runs-on: ubuntu-latest
    needs: [initialize]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.build_branch }}

    - name: Build image
      run: |
        make -e CONTAINER_VERSION=$(sed -rn 's/^VERSION \?= (.*)/\1/p' Makefile) build-plugin-image